In [2]:
total = 0
for drink in drinks:
    result = drink["calories"] * drink["number_consumed"]
    result += total
print(total)

NameError: name 'drinks' is not defined

In [ ]:
i = input("pick a number preferably 3-10:")

In [21]:
def square_cubed_table ():
    i = input("pick a number preferably 3-10:")
    print("number | squared | cubed")
    print("-------|---------|------")
    for num in range(1,int(i)):
        print(f" {num: <4}  | {num ** 2: <6}  | {num ** 3}")

In [22]:
square_cubed_table ()

pick a number preferably 3-10:9
number | squared | cubed
-------|---------|------
 1     | 1       | 1
 2     | 4       | 8
 3     | 9       | 27
 4     | 16      | 64
 5     | 25      | 125
 6     | 36      | 216
 7     | 49      | 343
 8     | 64      | 512

In [ ]:
grade = int(input("what grade did you get on this test?:"))
if grade.isdigit:
    num = int(grade)
    if num >= 0 and num <= 59:
        print(f"{num} the range for 'F' is 0-59")
    elif num >= 60 and num <= 66:
        print(f"{num} the range for 'D' is 60-66")
    elif num >= 67 and num <= 79:
        print(f"{num} the range for 'C' is 67-79")
    elif num >= 80 and num <= 87:
        print(f"{num} the range for 'B' is 80-87")
    elif num >= 88 and num <= 100:
        print(f"{num} the range for 'A' is 88-100")
    else:
        pass

In [4]:
def grade_template():
    more_grades = "y"
    while more_grades == "y":
        grade = input("what grade did you get on this test?: ---'quit' to exit")
        if grade.isdigit:
            num = int(grade)
            if num >= 0 and num <= 59:
                print(f"{num} the range for 'F' is 0-59")
                more_grades = input("would you like to enter another grade?: 'y' or 'n'")
                break
            elif num >= 60 and num <= 66:
                print(f"{num} the range for 'D' is 60-66")
                more_grades = input("would you like to enter another grade?: 'y' or 'n'")
                break
            elif num >= 67 and num <= 79:
                print(f"{num} the range for 'C' is 67-79")
                more_grades = input("would you like to enter another grade?: 'y' or 'n'")
                break
            elif num >= 80 and num <= 87:
                print(f"{num} the range for 'B' is 80-87")
                more_grades = input("would you like to enter another grade?: 'y' or 'n'")
                break
            elif num >= 88 and num <= 100:
                print(f"{num} the range for 'A' is 88-100")
                more_grades = input("would you like to enter another grade?: 'y' or 'n'")
                break
            else:
                pass

In [5]:
grade_template()

what grade did you get on this test?: ---'quit' to exit78
78 the range for 'C' is 67-79
would you like to enter another grade?: 'y' or 'n'y

In [8]:
keep_going = True
while keep_going == True:
    grade = input("what grade did you get on this test?:(0-100) ---'quit' to exit")
    if grade.isdigit():
        num = int(grade)
        if num >= 0 and num <= 59:
            print(f"{num} the range for 'F' is 0-59")
        elif num >= 60 and num <= 66:
            print(f"{num} the range for 'D' is 60-66")
        elif num >= 67 and num <= 79:
            print(f"{num} the range for 'C' is 67-79")
        elif num >= 80 and num <= 87:
            print(f"{num} the range for 'B' is 80-87")
        elif num >= 88 and num <= 100:
            print(f"{num} the range for 'A' is 88-100")
        else:
            pass
    else:
        keep_going = False

what grade did you get on this test?:(0-100) ---'quit' to exit78
78 the range for 'C' is 67-79
what grade did you get on this test?:(0-100) ---'quit' to exit88
88 the range for 'A' is 88-100
what grade did you get on this test?:(0-100) ---'quit' to exit37
37 the range for 'F' is 0-59
what grade did you get on this test?:(0-100) ---'quit' to exit96
96 the range for 'A' is 88-100
what grade did you get on this test?:(0-100) ---'quit' to exitquit

In [25]:
keep_going = True
while keep_going == True:
    i = input("pick a number preferably 3-10:  ---'quit' to exit")
    if i.isdigit():
        print("number | squared | cubed")
        print("-------|---------|------")
        for num in range(1,int(i)):
            print(f" {num: <4}  | {num ** 2: <6}  | {num ** 3}")
    else:
        keep_going = False

pick a number preferably 3-10:  ---'quit' to exit7
number | squared | cubed
-------|---------|------
 1     | 1       | 1
 2     | 4       | 8
 3     | 9       | 27
 4     | 16      | 64
 5     | 25      | 125
 6     | 36      | 216
pick a number preferably 3-10:  ---'quit' to exit12
number | squared | cubed
-------|---------|------
 1     | 1       | 1
 2     | 4       | 8
 3     | 9       | 27
 4     | 16      | 64
 5     | 25      | 125
 6     | 36      | 216
 7     | 49      | 343
 8     | 64      | 512
 9     | 81      | 729
 10    | 100     | 1000
 11    | 121     | 1331
pick a number preferably 3-10:  ---'quit' to exit100
number | squared | cubed
-------|---------|------
 1     | 1       | 1
 2     | 4       | 8
 3     | 9       | 27
 4     | 16      | 64
 5     | 25      | 125
 6     | 36      | 216
 7     | 49      | 343
 8     | 64      | 512
 9     | 81      | 729
 10    | 100     | 1000
 11    | 121     | 1331
 12    | 144     | 1728
 13    | 169     | 2197
 14    | 196     | 2744
 15    | 225     | 3375
 16    | 256     | 4096
 17    | 289     | 4913
 18    | 324     | 5832
 19    | 361     | 6859
 20    | 400     | 8000
 21    | 441     | 9261
 22    | 484     | 10648
 23    | 529     | 12167
 24    | 576     | 13824
 25    | 625     | 15625
 26    | 676     | 17576
 27    | 729     | 19683
 28    | 784     | 21952
 29    | 841     | 24389
 30    | 900     | 27000
 31    | 961     | 29791
 32    | 1024    | 32768
 33    | 1089    | 35937
 34    | 1156    | 39304
 35    | 1225    | 42875
 36    | 1296    | 46656
 37    | 1369    | 50653
 38    | 1444    | 54872
 39    | 1521    | 59319
 40    | 1600    | 64000
 41    | 1681    | 68921
 42    | 1764    | 74088
 43    | 1849    | 79507
 44    | 1936    | 85184
 45    | 2025    | 91125
 46    | 2116    | 97336
 47    | 2209    | 103823
 48    | 2304    | 110592
 49    | 2401    | 117649
 50    | 2500    | 125000
 51    | 2601    | 132651
 52    | 2704    | 140608
 53    | 2809    | 148877
 54    | 2916    | 157464
 55    | 3025    | 166375
 56    | 3136    | 175616
 57    | 3249    | 185193
 58    | 3364    | 195112
 59    | 3481    | 205379
 60    | 3600    | 216000
 61    | 3721    | 226981
 62    | 3844    | 238328
 63    | 3969    | 250047
 64    | 4096    | 262144
 65    | 4225    | 274625
 66    | 4356    | 287496
 67    | 4489    | 300763
 68    | 4624    | 314432
 69    | 4761    | 328509
 70    | 4900    | 343000
 71    | 5041    | 357911
 72    | 5184    | 373248
 73    | 5329    | 389017
 74    | 5476    | 405224
 75    | 5625    | 421875
 76    | 5776    | 438976
 77    | 5929    | 456533
 78    | 6084    | 474552
 79    | 6241    | 493039
 80    | 6400    | 512000
 81    | 6561    | 531441
 82    | 6724    | 551368
 83    | 6889    | 571787
 84    | 7056    | 592704
 85    | 7225    | 614125
 86    | 7396    | 636056
 87    | 7569    | 658503
 88    | 7744    | 681472
 89    | 7921    | 704969
 90    | 8100    | 729000
 91    | 8281    | 753571
 92    | 8464    | 778688
 93    | 8649    | 804357
 94    | 8836    | 830584
 95    | 9025    | 857375
 96    | 9216    | 884736
 97    | 9409    | 912673
 98    | 9604    | 941192
 99    | 9801    | 970299
pick a number preferably 3-10:  ---'quit' to exitquit

In [1]:
def grade_template():
    more_grades = "y"
    while more_grades == "y":
        grade = input("what grade did you get on this test?: ---'quit' to exit")
        if grade.isdigit:
            num = int(grade)
            if num >= 0 and num <= 59:
                if num >= 55:
                    print(f"{num} the range for 'F+' is 55-59")
                else:
                    print(f"{num} the range for 'F' is 0-54")
            elif num >= 60 and num <= 66:
                if num <= 62:
                    print(f"{num} the range for 'd-' is 60-62")
                elif num >= 64:
                    print(f"{num} the range for 'd+' is 64-66")
                else:
                    print(f"{num} the range for 'd' is 63")
            elif num >= 67 and num <= 79:
                if num <= 69:
                    print(f"{num} the range for 'c-' is 67-69")
                elif num >= 77:
                    print(f"{num} the range for 'c+' is 77-79")
                else:
                    print(f"{num} the range for 'c' is 70-76")
            elif num >= 80 and num <= 87:
                if num <= 82:
                    print(f"{num} the range for 'b-' is 80-82")
                elif num >= 85:
                    print(f"{num} the range for 'b+' is 85-87")
                else:
                    print(f"{num} the range for 'b' is 83-84")
            elif num >= 88 and num <= 100:
                if num <= 90:
                    print(f"{num} the range for 'a-' is 88-90")
                elif num >= 98:
                    print(f"{num} the range for 'a+' is 98-100")
                else:
                    print(f"{num} the range for 'a' is 91-97")
            else:
                pass

In [ ]:
grade_template()

what grade did you get on this test?: ---'quit' to exit92
92 the range for 'a' is 91-97
what grade did you get on this test?: ---'quit' to exit90
90 the range for 'a-' is 88-90
what grade did you get on this test?: ---'quit' to exit31
31 the range for 'F' is 0-54
what grade did you get on this test?: ---'quit' to exit55
55 the range for 'F+' is 55-59
what grade did you get on this test?: ---'quit' to exit21
21 the range for 'F' is 0-54
what grade did you get on this test?: ---'quit' to exit100
100 the range for 'a+' is 98-100
what grade did you get on this test?: ---'quit' to exit105
what grade did you get on this test?: ---'quit' to exit89
89 the range for 'a-' is 88-90

In [4]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [5]:
def unique_animal_list(students):
    i = 0
    animal_list = []
    
    while i <= len(students)-1:
        holder = (students[i])
        if len(holder["pets"]) > 1:
            animal_list.append(holder["pets"][0]["species"])
            i += 1
        else:
            i+= 1
        
    return set(animal_list)

In [6]:
unique_animal_list(students)

{'cat', 'dog', 'horse'}

In [7]:
def light_coffee_count(students):
    i = 0
    light_count = 0
    while i < len(students):
        if students[i]["coffee_preference"] == "light":
            light_count += 1
            i += 1
        else:
            i += 1
            
    return light_count

light_coffee_count(students)

3

In [8]:
def unique_animal_list(students):
    i = 0
    animal_list = []
    
    while i <= len(students)-1:
        holder = (students[i])
        if len(holder["pets"]) > 1:
            animal_list.append(holder["pets"][0]["species"])
            i += 1
        else:
            i+= 1
        
    return set(animal_list)

unique_animal_list(students)

{'cat', 'dog', 'horse'}

In [9]:
def grade_count(students):
    grade_count = []
    for student in students:
        grade_count.append(len(student["grades"]))
    return grade_count

grade_count(students)

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [10]:
def grade_avg(students):
    student_grade_avg = []
    for student in students:
        grade_total = 0
        for grade in student["grades"]:
            grade_total += int(grade)
        avg_grade = grade_total
        student_grade_avg.append(avg_grade/4)
    return student_grade_avg

grade_avg(students)

[78.5,
 83.5,
 73.25,
 78.5,
 81.5,
 80.75,
 84.5,
 88.75,
 88.75,
 82.5,
 81.5,
 91.0,
 79.0,
 89.0]

In [11]:
def pet_count(students):
    pet_count_list = []
    for student in students:
        pet_count_list.append(len(student["pets"]))
    return pet_count_list

pet_count(students)

[1, 0, 1, 2, 3, 0, 1, 2, 2, 1, 2, 1, 1, 1]

In [12]:
def class_count(students):
    web_dev_count = 0
    data_sci_count = 0
    for student in students:
        if student["course"] == "web development":
            web_dev_count += 1
        elif student["course"] == "data science":
            data_sci_count += 1
        else:
            pass
    return (f"{web_dev_count} students in web dev and {data_sci_count} students in data sci")

class_count(students)

'7 students in web dev and 7 students in data sci'

In [13]:
def pets_for_web_dev_students(students):
    pet_count = 0
    web_dev_student = 0
    for student in students:
        if student["course"] == "web development":
            pet_count += len(student["pets"])
            web_dev_student += 1
    return pet_count / web_dev_student

pets_for_web_dev_students(students)

1.2857142857142858

In [14]:
def pet_age_data_science_students(students):
    num_of_pets = 0
    total_pet_age = 0
    for student in students:
        if student["course"] == "data science":
            num_of_pets += len(student["pets"])
            for pet in student["pets"]:
                total_pet_age += pet["age"]
    return total_pet_age / num_of_pets
            
pet_age_data_science_students(students)

5.444444444444445

In [15]:
def data_sci_coffee_pref(students):
    light_count = 0
    medium_count = 0
    dark_count = 0
    coffee_count = []
    for student in students:
        if student["course"] == "data science":
            if student["coffee_preference"] == "light":
                light_count += 1
            elif student["coffee_preference"] == "medium":
                medium_count += 1
            elif student["coffee_preference"] == "dark":
                dark_count += 1
    coffee_count.append(light_count)
    coffee_count.append(medium_count)
    coffee_count.append(dark_count)
    return f"{coffee_count[0]} light, {coffee_count[1]} medium, {coffee_count[2]} dark" , max(coffee_count)

data_sci_coffee_pref(students)

('0 light, 4 medium, 3 dark', 4)

In [16]:
def web_dev_least_coffee_pref(students):
    light_count = 0
    medium_count = 0
    dark_count = 0
    coffee_count = []
    for student in students:
        if student["course"] == "web development":
            if student["coffee_preference"] == "light":
                light_count += 1
            elif student["coffee_preference"] == "medium":
                medium_count += 1
            elif student["coffee_preference"] == "dark":
                dark_count += 1
    coffee_count.append(light_count)
    coffee_count.append(medium_count)
    coffee_count.append(dark_count)
    return f"{coffee_count[0]} light, {coffee_count[1]} medium, {coffee_count[2]} dark" , min(coffee_count)

web_dev_least_coffee_pref(students)

('3 light, 2 medium, 2 dark', 2)

In [17]:
def avg_grade_two_pets(students):
    total_grade = 0
    num_of_grades = 0
    for student in students:
        if len(student["pets"]) >= 2:
            for grade in student["grades"]:
                num_of_grades += 1
                total_grade += grade
    return (total_grade/num_of_grades)

avg_grade_two_pets(students)

83.8

In [18]:
def students_with_three_pets(students):
    student_count = 0
    for student in students:
        if len(student["pets"]) == 3:
            student_count += 1
    return student_count

students_with_three_pets(students)

1

In [19]:
def avg_grade_students_zero_pets(students):
    grade_total = 0
    grade_count = 0
    for student in students:
        if len(student["pets"]) == 0:
            for grade in student["grades"]:
                grade_count += 1
                grade_total += grade
    return grade_total / grade_count

avg_grade_students_zero_pets(students)

82.125

In [20]:
def avg_grade_per_class(students):
    #ds = datascience
    #wd = webdev
    ds_total_grade = 0
    ds_grade_count = 0
    wd_total_grade = 0
    wd_grade_count = 0
    for student in students:
        if student["course"] == "data science":
            for grade in student["grades"]:
                ds_grade_count += 1
                ds_total_grade += grade
        elif student["course"] == "web development":
            for grade in student["grades"]:
                wd_grade_count += 1
                wd_total_grade += grade
                
    ds_avg_grade = ds_total_grade / ds_grade_count
    wd_avg_grade = wd_total_grade / wd_grade_count
    return(f"datascience avg grade is {ds_avg_grade}, web development avg grade is {wd_avg_grade}")

avg_grade_per_class(students)

'datascience avg grade is 84.67857142857143, web development avg grade is 81.17857142857143'

In [21]:
def avg_grade_range_dark_coffee_drinker(students):
    min_grade = 100
    max_grade = 0

    for student in students:
        if student["coffee_preference"] == "dark":
            for grade in student["grades"]:
                if min_grade > grade:
                    min_grade = grade
                elif max_grade < grade:
                    max_grade = grade

    return range(min_grade,max_grade)

avg_grade_range_dark_coffee_drinker(students)

range(65, 99)

In [22]:
def avg_num_pets_med_coffee(students):
    total_num_pets = 0
    number_of_students = 0
    for student in students:
        if student["coffee_preference"] == "medium":
            number_of_students += 1
            total_num_pets += len(student["pets"])
    return total_num_pets / number_of_students

avg_num_pets_med_coffee (students)

1.1666666666666667

In [23]:
def common_pet_wd_students(students):
    horse = 0
    cat = 0
    dog = 0
    compare = []
    for student in students:
        if student["course"] == "web development":
            for pet in student["pets"]:
                if pet["species"] == "horse":
                    horse += 1
                elif pet["species"] == "cat":
                    cat += 1
                elif pet["species"] == "dog":
                    dog += 1
    compare.append(horse)
    compare.append(cat)
    compare.append(dog)
    return(f"{horse} horses, {cat} cats, {dog} dogs and the most was {max(compare)}")
        
common_pet_wd_students(students)

'4 horses, 3 cats, 2 dogs and the most was 4'

In [24]:
def avg_name_length(students):
    letters_in_all_names = 0
    num_of_students = 0
    for student in students:
        num_of_students += 1
        name = student["student"]
        for letter in name:
            if letter.isalpha():
                letters_in_all_names += 1
            else:
                pass
    return letters_in_all_names / num_of_students

In [25]:
avg_name_length(students)

12.5

In [26]:
def highest_pet_age_light_coffee_drinkers(students):
    highest_pet_age = 0
    for student in students:
        if student["coffee_preference"] == "light":
            for pet in student["pets"]:
                if int(pet["age"]) > highest_pet_age:
                    highest_pet_age = int(pet["age"])
    return highest_pet_age

In [27]:
highest_pet_age_light_coffee_drinkers(students)

8

In [28]:
def avg_name_length(students):
    letters_in_all_names = 0
    num_of_students = 0
    for student in students:
        num_of_students += 1
        name = student["student"]
        for letter in name:
            if letter.isalpha() or letter == "-":
                letters_in_all_names += 1
            else:
                pass
    return letters_in_all_names / num_of_students

avg_name_length(students)

12.571428571428571

In [30]:
def avg_name_length(students):
    letters = 0
    num_of_students = 0
    for student in students:
        num_of_students += 1
        letters += len(student["student"])
    return letters / num_of_students

avg_name_length(students)

13.642857142857142

In [36]:
i = input("pick a number 1-10:") # Saving the variable of the user input
i = int(i) # changing the input from a string into an integer
for num in range(1,11): # taking the range needed
    print(f"{i} X {num} = {i * num}")
    # inside the brackets you're changing the int value back into a string

pick a number 1-10:7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [43]:
books = [
    {
        "title": "The Subtle Art of Not Giving a F*ck",
        "author": "Mark Manson",
        "genre's": ["Self-help book"]
    },
    {
        "title": "Breath",
        "author": "James Nestor",
        "genre's": ["Self-help book", "Creative nonfiction"]
    },
    {
        "title": "1984",
        "author": "George Orwell",
        "genre's": ["Science fiction","political fiction","Dystopian fiction","Social science fiction"]
    }
]

In [45]:
user_genre = input("pick a genre")

pick a genreSelf-help book

In [46]:
for book in books:
    for genre in book["genre's"]:
        if genre == user_genre:
            print(book)

{'title': 'The Subtle Art of Not Giving a F*ck', 'author': 'Mark Manson', "genre's": ['Self-help book']}
{'title': 'Breath', 'author': 'James Nestor', "genre's": ['Self-help book', 'Creative nonfiction']}